/**/node_modules
/**/dist
/**/build
/**/coverage
/**/logs
/**/temp
/**/tmp
/**/cache
/**/bower_components
/**/jspm_packages
/**/vendor
/**/private
/**/out
/**/lib
/**/obj
/**/bin
/**/debug
/**/release
/**/test
/**/tests